/* Aplicar a toda la página */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #293415;
}

/* Aplicar solo a los títulos principales */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Esto usa la versión negrita que seleccionaste */
    text-transform: uppercase;
}
